/*
Page styling
*/
body{
    background-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}


/*
Styling for game elements
*/
.row.game{
   margin-top: 10px;
   margin-left: 23%;
}
table{
    width: 100%;
    height: 100%;
    background-color: lightslategrey;
    
}
td{
    border: 3px solid black;
    height: 70px;
}

h1{
    color: black;
    font-size: 70px;
    font-weight: bold;
    margin: 50px 0;
}

h2{
    color: black;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1.5px;
    text-align: center;
    
}

.btn.btn-primary{

    margin-top: 10px;
    background-color: gold;
    color: black;
    border-color: gold;
    font-weight: bold;
}
.btn.btn-primary:hover{

    color: gold;
    background-color: black;
    border-color: black;
    
}



.game{
    margin-bottom: 200px;
}

/*
Styling for the score board
*/

.players{
    color: black;
    font-size: 20px;
    font-weight: 700px;
    text-align: center;
}

#player1Stat, #player2Stat{
    color: black;
    font-weight: bold;
    text-align: center;
}


